/* .resizable-app {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.resizable-component {
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 1px #ddd;
  background: #f0f0f0;
  flex-shrink: 1 !important;
  min-width: 76px;
  min-height: 40px;
  flex-grow: 1;
} */
